<h1>Listing bills</h1>

<table id="bills-table">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Display name</th>
    <th>Amount</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Bill</a>