
<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Display name:</b>
  <%= display_name %>
</p>

<p>
  <b>Amount:</b>
  <%= amount %>
</p>

<p>
  <b>Due date:</b>
  <%= due_date %>
</p>


<a href="#/index">Back</a>