<h1>New bill_type</h1>

<form id="new-bill_type" name="bill_type">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Bill type" />
  </div>

</form>

<a href="#/index">Back</a>